* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}


/*======================
    404 page
=======================*/


.page_404 { 
  margin-top: -80px;
  padding:5px 0; 
  background:#fff; 
  font-family: 'Arvo', serif;
  text-align: center;
}

.page_404 img { 
  width:100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
 }
 
 .four_zero_four_bg h1 {
  font-size:80px;
 }
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404 {			 
  color: #000;
  font-size: 24px;
  padding: 10px 30px;
  background: #ff8000;
  border: none;
  border-radius: 25px;
  margin: 20px 0;
  text-decoration: none;
  display: inline-block;
}

.link_404:hover {
  color: #ff8000;
  background-color: black;
}

.contant_box_404 {  
  margin-top: -50px;
}